tqdm
pyyaml
pillow
numpy
omegaconf
torch==2.5.1
torchvision==0.20.1
accelerate==1.2.1
diffusers==0.32.1
transformers==4.47.1
peft==0.14.0
huggingface_hub==0.27.1
safetensors==0.5.2
einops==0.8.0
opencv-python==4.10.0.84
open_clip_torch==2.30.0
pytorch-lightning==1.5.0
